
#offer{
    width: 300px;
    height: 713px;
    border: 0.1px solid rgb(158, 158, 158);
    background: #FFFEFE;
    border-radius: 20px 20px 0px 0px;
}

#heading{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    background-color: #FF2129;
    height: 40px;
}

#txt{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 41px;
    color: #FFFFFF;
    font-style: normal;
}



#txt2{
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    width: 250px;
    margin-top: 0.5rem;
}

.part1{
    display:flex;
    justify-content: center;
}

#view{
    margin-left: 50px;
}

#arrow{
    margin-left: 8px;
    
}

a{
    font-style: normal;
    text-decoration: none;
    color:rgb(68, 68, 68)
}


